.hero{
    padding: 0 200px 300px;
    background:#010101 ;
    color:#fff;
    background-image: url("../../images/hero-bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.hero h1{
    font-family: 'GFS Didot';
    font-size: 72px;
    font-weight: 700;
}

.hero .button{
    padding:12px 24px;
    border: 1px solid #FFFFFF;
    width: 169px;
    margin-top:48px;
    background: rgba(255, 255, 255, 0.05); 
}
.hero .button img{
    margin-right: 18px;
}

.hero .button a{
    text-decoration: none;
    color:#fff;
    font-family: 'Proxima Nova';
    
}