.media{
    padding: 200px 300px;
    background: #010101;
    color:#fff;
}

.media h1{
    font-family: 'GFS Didot';
    font-weight: 700;
}

.media p{
    font-family: 'Proxima Nova';
    font-size: 20px;
}

.media .button{
    padding:12px 24px;
    border: 1px solid #FFFFFF;
    width: 169px;
    margin-top:48px;
    background: rgba(255, 255, 255, 0.05);
}

.media .button a{
    text-decoration: none;
    color:#fff;
    font-family: 'Proxima Nova';
    margin-right: 18px; 
}