.media {
  background: radial-gradient(50% 50% at 50% 50%, #111110 0%, #000000 100%);
  color: #fff;
  height: 940px;
  padding: 134px 350px;
}

.slider {
  position: relative;
}
.slider-inner-section {
  width: 860px;
  margin: 0 auto;
}

.left-arrow {
  position: absolute;
  top: 178px;
}

.left-arrow:hover {
  cursor: grab;
}

.right-arrow {
  position: absolute;
  top: 178px;
  right: 0;
}

.right-arrow:hover {
  cursor: grab;
}

.media h1 {
  font-family: "Didot";
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

.media p {
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 400;
}

.media .button {
  padding: 12px 24px;
  border: 1px solid #ffffff;
  display: inline-block;
  margin-top: 48px;
  background: rgba(255, 255, 255, 0.05);
}

.media .button a {
  text-decoration: none;
  color: #fff;
  font-family: "Proxima Nova";
  margin-right: 18px;
  font-weight: 400;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

/* .swiper-slide img {
    display: block;
    width: 100%;
  } */

@media only screen and (min-width: 1400px) and (max-width: 1900px) {
  .media {
    padding: 134px 180px;
  }
}
