.female {
  background: radial-gradient(50% 50% at 50% 50%, #111110 0%, #000000 100%);
  height: 940px;
  color: #fff;
  /* padding: 200px 300px; */
  padding-left: 200px;
  padding-right: 200px;
}

.female-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.female-right p {
  font-family: "Proxima Nova";
  font-size: 40px;
  font-style: italic;
  line-height: 64px;
  padding-right: 20px;
  font-weight: 300;
}

.female-right img {
  width: 465px;
}
