.news{
    background:#010101 ;
    color:#fff;

}

.news h1{
    font-family: 'GFS Didot';
    font-weight: 700;
    font-size: 56px;
}

.news a{
    font-family: 'Proxima Nova';
}

.news .button{
    padding:12px 24px;
    border: 1px solid #FFFFFF;
    width: 169px;
    margin-top:33px;
    background: rgba(255, 255, 255, 0.05);
}

.news .button a{
    text-decoration: none;
    color:#fff;
    font-family: 'Proxima Nova';
    margin-right: 18px; 
}